
<h1>RESULT</h1>

<p><h4>Text:</h4>  <%= @text%></p>
<p><h4>Num of words:</h4> <%= @word_count%></p>
<p><h4>Words per minute:</h4> <%= @words_per_minute%> s.</p>
<p><h4>Frequented words:<h4> <%= @frequented_words%></p>
<%= link_to "Home", "/text_inspections/new" %>
