<!DOCTYPE html>
<html>
<head>
  <title>Twotter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p><%= "Notice: " + flash[:notice].inspect %></p>
  <p><%= "Error: " + flash[:error].inspect %></p>

  <div id="menu">
    <%= link_to "New twot", projects_new_path %>
  </div>
<%= yield %>

</body>
</html>
