<!DOCTYPE html>
<html>
  <head>
    <title>Twotter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= "Notice: " + flash[:notice].inspect%>
    <%= yield %>
    <div id="menu">
      <%= link_to "New twot", projects_nzew_path%>
    </div>
  </body>
</html>
